<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta name="keywords" content="<!--shareTitle-->">
  <meta name="description" content="<!--shareDesc-->">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="dns-prefetch" href="//域名">
  <title><!--pageName--></title>
  // 页面配置信息里的样式
  <style>
    body {
      background-color: #fff;
      background-image: url();
      background-repeat: no-repeat;
    }
  </style>
  <!--<link ref="stylesheet" href="/css/swiper.min.css,form.min.css"/>-->
  <script type="text/javascript">
      // 页面全局配置参数
      window.pageConfig = {
          shareInfo: {
              api: '',
              url: '',
              title: '',
              desc: '',
              thumb: ''
          }
      }
      <!--headJs-->
  </script>
</head>
<body>
<div class="err-panel"></div>

<div id="app" class="app">
  <!--pageContent-->
</div>

<!--回到顶部等预置的dom-->
<div class="goto-top" style="display:none;">goTop</div>

<!--按需生成script标签-->
<!--<script src="common/body.min.js,lib/swiper.min.js,base/timeout.min.js,base/form.min.js"><script>-->

<script type="text/javascript">
    // 底部代码，比如统计代码等
</script>
</body>
</html>